<a href="https://colab.research.google.com/github/zish25/Python-codes-from-core/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Chapeter 1 :- programing basic concepts and starting python


Date : 03/11/2025 - Basis

1.Installation
2.Virtual Environment
3.Code Layout

Datatypes in python
1. int : whole number (0 to infinity)
2. float : decimal point (0.0 to infinity)
3. string : Set of Characters -> (can be defined by '', "", '''xyz''', etc.)
Naming Conventions :
1.snake - eg : hello_world
2.camel - eg : helloWorld
3.pascal - eg: HelloWorld

Errors :
1.Syntax Error
2.Runtime Error
Error Handling :
1.try-except

In [ ]:
print("Hello World")

Hello World

In [ ]:
a = 1
type(a)

int

In [ ]:
print("Hello\nWorld")

Hello
World

In [ ]:
print('''Hello
World''')

print('''\nHello\
World''')

Hello
World

HelloWorld

In [ ]:
print("Hello", "World")
print(10,20)

print("hello", 10)

Hello World
10 20
hello 10

In [ ]:
print("Hello" + "World")
print(10+20)

HelloWorld
30

In [ ]:
print("Hello " * 3)
print(3 * "Hello ")
print("Hello " * (2 + 1))

Hello Hello Hello
Hello Hello Hello
Hello Hello Hello

In [ ]:
print("hello", end=" ")
print("world")

print("Hello", end=" , ")
print("World")

hello world
Hello , World

In [ ]:
print("Hello","World", sep="")
print("Hello","World", sep="+")

HelloWorld
Hello+World

In [ ]:
try :
    a = int(input("Enter a number: "))
    print(a)
    print("Try block executed")
except :
    print("Invalid Input")

Enter a number: 34
34
Try block executed

In [ ]:
name = "zinath"
age = 20
print("Hello, My name is {} and I am {} years old.".format(name, age))

Hello, My name is zinath and I am 20 years old.

In [ ]:
#WHAT IS DATA? It is a collection of information it contain two types 1. structured 2.unstructured
#1.structured:- In this the data which we contain in row and coloums in table are structured
#2.unsreuctured :- In this we dosen't contain a fixed format which make it difficult to analyze or store data

#what is variable:- In this we store the data in element

a=23
print (a)
print(type(a))# type it is used to show the type of variable like int , float etc....
type(a)

23
<class 'int'>

int

In [ ]:
###Data types:- int,float,string,list,tuple,dic,set
### int = 1,2,3 float = 2.44, 5.66
### string = string is a sequence of characters enclosed within single quotes ('), double quotes ("), triple single quotes ('''), or triple double quotes (""").
### in string there is one more thing Indexing in this there are two types 1 LHS (LEFT HAND SIDE) AND RHS (RIGHT HAND SIDE)

a = "Beautifull"
b = "welcome"
# You cannot change individual characters in a string like this:
# a[2] = a
# To demonstrate indexing, you can print the character at a specific position:
b[2]
print(b[-1])
print(a[2])

e
a

04/11/2025
Operators :
1.Arthimatic
2.Relational
3.Logical
4.Assignment

Operations
1.Mixed Operations
2.Complex NUmber OPerations

Decision Making
1. if-else

Convertion of Datatypes
1.int()
2.float()
3.str()

String Operations
1.upper/lower/capitalized
2.startswith/endswith
3.len
4.indexing and Slicing

Variable Declaration
1.keywords

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("{} + {} = {}".format(a, b, a + b))
print("{} - {} = {}".format(a, b, a - b))
print("{} * {} = {}".format(a, b, a * b))
print("{} / {} = {}".format(a, b, a / b))
print("{} % {} = {}".format(a, b, a % b))
print("{}**2,  {}**2 = {}, {}".format(a, b, a**2, b**2))

Enter first number: 445
Enter second number: 567
445 + 567 = 1012
445 - 567 = -122
445 * 567 = 252315
445 / 567 = 0.7848324514991182
445 % 567 = 445
445**2,  567**2 = 198025, 321489

In [ ]:

999 ** 2

998001

In [ ]:
# if-else

a = 200
b = 23234

if b > a:
    print("b is greater than a")
else:
    print("a is greater than b")

b is greater than a

In [ ]:
int("50")

50

In [ ]:
int('50') + 20

70

In [ ]:

float("10.5")

10.5

In [ ]:
# String OperTIONS

s = "hello"

print(s.upper())
print(s.lower())
print(s.capitalize())

print(s.startswith('h'))
print(s.endswith('o'))

print(len(s))
print(s.__len__())

print(s.find('l'))

HELLO
hello
Hello
True
True
5
5
2

In [ ]:
# indexing and Slicing

a = 'abcdefghijklmnopqrstuvwxyz'


print(a[0])
print(a[1])
print(a[-1])
print(a[::-1])

print(a[2:7])
# print(a[-2:-7])

p = 'pcuuniversity'

print(p[-2:-9:-1])    # [starting_index, ending_index - 1, step_index (if wanted in reverse '-1')]
print(p[0:15:2])

a
b
z
zyxwvutsrqponmlkjihgfedcba
cdefg
tisrevi
punvriy

In [ ]:
a= 'hello'
b= 'world'

print(a + ' ' + b)

hello world

In [ ]:
#slicing :- to cut the strings in substring
#formula     slicing = [start index(3)   end index(12-1)]

a1 = "pcuuniversity"
a1[3:]

# Advance Slicing  formula [start index    end index    step index(-1)]

b = "pcuuniversity"
b[3:]
b[0:12:3]

'puvs'

In [ ]:
# length :- which calculate the length of string

len(a)

13

In [ ]:
from re import U
## string method
### upper - to convert a whole string into uppercase letter
# lower - to convert a whole string into lowercase letter
## capitalize - capitalize the the sentence or word
## startswith - to check the string if the string start with first letter
## find - it will only take first letter and find it
### format - refered in print function


a = 'good'
a.upper()
print(a.upper()) # Call the upper method
a.capitalize()
a.startswith('g') # Call startswith as a method of 'a'

In [ ]:
a = 'good'
a.startswith('g')

True

In [ ]:
a = 'good'
a.capitalize()

'Good'

In [ ]:
a = 'good'
a.upper()

'GOOD'

In [ ]:
name = 'akash'
age = 34
print('My name is {} and I am {} years old'.format(name, age))

My name is akash and I am 34 years old

In [ ]:
##syntax error - which mistake which manually done
### runtime error - which occurs during execution of a program

In [ ]:
## list :- it is a mutable methode it can be change and store the multiple type

li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [ ]:
#addition of two no :- already input is given
a = 2
b = 42
c = a+b
print(c)

44

In [ ]:
#addition of two no :- manually input is given
a = int(input('enter first no'))
b = int(input('enter second no'))
c = a+b
print(c)

enter first no3
enter second no4
7

06/11/2025
Nested Conditional Statements
1.if-elif-else
2.if-else

List Methods:
1.append()
2.extend()
3.sort()
4.remove()
5.reverse()
6.pop()
7.clear()
8.count()

Loops
1.for()
2.range()
3.while()
4.do-while()

In [1]:
score = int(input("Enter score : "))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print("Grade :", grade)

Enter score : 78
Grade : C

In [ ]:
## conditional statement 1. if- else  2. if-elif-else
### if condition will be true it will print the exicution other wise it will print else

a = 23
b = 45
if b>a:
  print('b is greater than a')
else:
  print('a is greater than b')

b is greater than a

In [ ]:
## HW 5 programs related to coditional statement
## 1. Check if a number is positive, negative, or zero
num = int(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num == 0:
    print("The number is zero.")
else:
    print("The number is negative.")

Enter a number: 6
The number is positive.

In [ ]:
## 2. Check if a number is even or odd
num = int(input("Enter a number: ")) # Get input from the user and convert it to an integer
if num % 2 == 0: # Check if the number is divisible by 2 with no remainder
    print("The number is even.") # If the remainder is 0, the number is even
else: # Otherwise, the number is odd
    print("The number is odd.")

In [ ]:
### 3. Find the largest of three numbers

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print(a, "is the largest number.")
elif b >= a and b >= c:
    print(b, "is the largest number.")
else:
    print(c, "is the largest number.")

In [ ]:
### 4.Character classification (vowel or consonant)
ch = input("Enter a character: ")

if ch.lower() in ('a', 'e', 'i', 'o', 'u'):
    print("It is a vowel.")
else:
    print("It is a consonant.")

In [ ]:
### 5. Check if a person is eligible to vote
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

In [ ]:
#### commenting ? its used to remind of giving detail about that line or that program that sentence
## single line comment :- ##  (green color) multiline comment - '''''' (orange color)
### types of operators
## 1. Arithmatic - +,-,*,/,//,%,**

a = 10
b = 3
print(a + b)   # 13
print(a ** b)  # 1000

13
1000

In [ ]:
## relational operators :- used to compare two values and return a Boolean result (true or false).
## operators :- ==,!=,>,<,>=,<=
x = 10
y = 20
print(x > y)   # False
print(x != y)  # True

False
True

In [ ]:
## Logical operators :- used to combine multiple conditions (and , or , not)
a = 10
b = 5
print(a > 0 and b > 0)  # True
print(a > 0 or b < 0)   # True
print(not (a > b))      # False

True
True
False

In [ ]:
#Boolean Operators :- Boolean represents a value that is either True or False.
x = 5
y = 10
result = (x < y)
print(result)        # True
print(type(result))  # <class 'bool'>

In [ ]:
#Sequential Statement :- A sequential statement means the normal flow of execution . statements are executed one after another, in order, from top to bottom.
# Sequential execution example

print("Step 1: Start the program")
a = 10
b = 20
c = a + b
print("Step 2: The sum is", c)
print("Step 3: Program ends")

In [ ]:
score = int(input('enter score:'))
if score >= 90:
      grade ='A'

elif score >=80:
      grade ='B'
elif score >=70:
        grade ='C'
elif score >=60:
         grade ='D'
else:
       grade ='F'
print ('your grade us :',grade)

enter score:78
your grade us : C

In [ ]:
num = int (input ('enter a number '))
if num%2==0:
  print ('number is even')
else:
  print ('number is odd')

enter a number 5
number is odd

In [ ]:
num= int(input('enter a no'))
if (num%3==0 and num%5==0):
  print('the no is multiple of 3 and 5')
else:
    print('not valid')

enter a no78
not valid

In [ ]:
## list method
# 1. append = to add the element at the end of list
# 2. extend = to combine the two element list in one
# 3. sort = to sort the list in accending and decending order of list
# 4. remove = remove the specific element from list
# 5. reverse = to reverse the list
# 6. pop  = to remove from list
# 7. clear = to clear the list
# 8. count = to count the element of list

In [ ]:
# find leap year
year = int (input('enter the year'))
is_leap_year = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
print(year,'is a leap?',is_leap_year)

In [ ]:
li = [1,2,3,4,5,6,7,8,9]
li1=[]

for i in li:
  if i%2==0:
    li1.append(i)

print(li1)

[2, 4, 6, 8]

In [ ]:
l1= [1,2,3,4,5,6,7,8,9]
li=[2,3]
li.extend(l1)
print(li)

[2, 3, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l1= [1,2,3,4,5,6,7,8,9]
li.sort()
print(li)

[1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l1= [1,2,3,4,5,6,7,8,9]
li.sort()
li.reverse()
print(li)

[9, 8, 7, 6, 5, 4, 3, 3, 2, 2, 1]

In [ ]:
l1=[1,2,3,4,5,6,7,8,9]
l1.pop()
print(l1)
l1.remove(3)
print(l1)
# print(l1.index(l1)) # This line caused the error
print(l1.index(4)) # Example of finding the index of an element (e.g., 4)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]
2

In [ ]:
my_id ="ilovepython"
password ="mypass1234"
string1 = input("enter Id:")
string2 = input("enter the password")
if string1 == my_id and string2 == password:
      print("welcome")
elif string1 !=my_id:
  print("Id not found.")
else:
  print("invalid password")

enter Id:ilovepython
enter the password12345
invalid password

In [ ]:
print('#'*50)
print("this is david's fruit shop.")
print('1: Apple(price: 5000won)')
print('2: Grape(price: 6000won)')
print('3: Melon(price: 8000won)')
print('4: Orange(price: 2000won)')
print('#'*50)
total_price =0
order = int(input("enter item number (between 1-4)>>"))
count = int(input("enter number of items(between 1-10)>>"))

if order == 1:
  fruit = 'Apple'
  price=5000

elif order == 2:
  fruit = 'Grape'
  price=6000
elif order == 3:
  fruit = 'Melone'
  price=8000
else:
  fruit = 'Orange'
  price=2000

print('fruit selected:',fruit)
print('price:',price)
print('Quantity:',count)
print('Total price is',price*count,'Won.')

money = int(input('Insert money please(ex:15000)>>>'))
if money < price * count:
  print('not enough money.')
else:
  change = money - price * count
  print(money, 'won received .your change is ',change,'won.')

##################################################
this is david's fruit shop.
1: Apple(price: 5000won)
2: Grape(price: 6000won)
3: Melon(price: 8000won)
4: Orange(price: 2000won)
##################################################
enter item number (between 1-4)>>3
enter number of items(between 1-10)>>5
fruit selected: Melone
price: 8000
Quantity: 5
Total price is 40000 Won.
Insert money please(ex:15000)>>>3000
not enough money.

In [ ]:
### creating calculator using if-elif- else

num1 = float(input('enter the first no:'))
num2 = float(input('enter the second no:'))

print ("selecte operation:")
print("1. Addition(sum)")
print("2. subtraction (sub)")
print("3. multiplication(mul)")
print("4. division(div)")

choice = input("enter choice(1/2/3/4):")
if choice =='sum':
  print("Result:", num1 + num2)
elif choice =='sub':
  print("Result:", num1-num2)
elif choice =='mul':
  print("Result:", num1*num2)
elif choice =='div':
  print("Result:", num1/num2)

else:
  print("invalid input")

In [ ]:
breads = ["Rye bread", "Wheat bread", "White bread"]
meats = ["Meatball", "Sausage", "Chicken breast"]
veggies = ["Lettuce", "Tomato", "Cucumber"]
sauces = ["Mayonnaise", "Honey mustard", "chili"]

print("possible combinations od David's sandwich shop menu:")

for b in breads:
    for m in meats:
        for v in veggies:
            for s in sauces:
                print(b + " + " + m + " + " + v + " + " + s)

possible combinations od David's sandwich shop menu:
Rye bread + Meatball + Lettuce + Mayonnaise
Rye bread + Meatball + Lettuce + Honey mustard
Rye bread + Meatball + Lettuce + chili
Rye bread + Meatball + Tomato + Mayonnaise
Rye bread + Meatball + Tomato + Honey mustard
Rye bread + Meatball + Tomato + chili
Rye bread + Meatball + Cucumber + Mayonnaise
Rye bread + Meatball + Cucumber + Honey mustard
Rye bread + Meatball + Cucumber + chili
Rye bread + Sausage + Lettuce + Mayonnaise
Rye bread + Sausage + Lettuce + Honey mustard
Rye bread + Sausage + Lettuce + chili
Rye bread + Sausage + Tomato + Mayonnaise
Rye bread + Sausage + Tomato + Honey mustard
Rye bread + Sausage + Tomato + chili
Rye bread + Sausage + Cucumber + Mayonnaise
Rye bread + Sausage + Cucumber + Honey mustard
Rye bread + Sausage + Cucumber + chili
Rye bread + Chicken breast + Lettuce + Mayonnaise
Rye bread + Chicken breast + Lettuce + Honey mustard
Rye bread + Chicken breast + Lettuce + chili
Rye bread + Chicken breast + Tomato + Mayonnaise
Rye bread + Chicken breast + Tomato + Honey mustard
Rye bread + Chicken breast + Tomato + chili
Rye bread + Chicken breast + Cucumber + Mayonnaise
Rye bread + Chicken breast + Cucumber + Honey mustard
Rye bread + Chicken breast + Cucumber + chili
Wheat bread + Meatball + Lettuce + Mayonnaise
Wheat bread + Meatball + Lettuce + Honey mustard
Wheat bread + Meatball + Lettuce + chili
Wheat bread + Meatball + Tomato + Mayonnaise
Wheat bread + Meatball + Tomato + Honey mustard
Wheat bread + Meatball + Tomato + chili
Wheat bread + Meatball + Cucumber + Mayonnaise
Wheat bread + Meatball + Cucumber + Honey mustard
Wheat bread + Meatball + Cucumber + chili
Wheat bread + Sausage + Lettuce + Mayonnaise
Wheat bread + Sausage + Lettuce + Honey mustard
Wheat bread + Sausage + Lettuce + chili
Wheat bread + Sausage + Tomato + Mayonnaise
Wheat bread + Sausage + Tomato + Honey mustard
Wheat bread + Sausage + Tomato + chili
Wheat bread + Sausage + Cucumber + Mayonnaise
Wheat bread + Sausage + Cucumber + Honey mustard
Wheat bread + Sausage + Cucumber + chili
Wheat bread + Chicken breast + Lettuce + Mayonnaise
Wheat bread + Chicken breast + Lettuce + Honey mustard
Wheat bread + Chicken breast + Lettuce + chili
Wheat bread + Chicken breast + Tomato + Mayonnaise
Wheat bread + Chicken breast + Tomato + Honey mustard
Wheat bread + Chicken breast + Tomato + chili
Wheat bread + Chicken breast + Cucumber + Mayonnaise
Wheat bread + Chicken breast + Cucumber + Honey mustard
Wheat bread + Chicken breast + Cucumber + chili
White bread + Meatball + Lettuce + Mayonnaise
White bread + Meatball + Lettuce + Honey mustard
White bread + Meatball + Lettuce + chili
White bread + Meatball + Tomato + Mayonnaise
White bread + Meatball + Tomato + Honey mustard
White bread + Meatball + Tomato + chili
White bread + Meatball + Cucumber + Mayonnaise
White bread + Meatball + Cucumber + Honey mustard
White bread + Meatball + Cucumber + chili
White bread + Sausage + Lettuce + Mayonnaise
White bread + Sausage + Lettuce + Honey mustard
White bread + Sausage + Lettuce + chili
White bread + Sausage + Tomato + Mayonnaise
White bread + Sausage + Tomato + Honey mustard
White bread + Sausage + Tomato + chili
White bread + Sausage + Cucumber + Mayonnaise
White bread + Sausage + Cucumber + Honey mustard
White bread + Sausage + Cucumber + chili
White bread + Chicken breast + Lettuce + Mayonnaise
White bread + Chicken breast + Lettuce + Honey mustard
White bread + Chicken breast + Lettuce + chili
White bread + Chicken breast + Tomato + Mayonnaise
White bread + Chicken breast + Tomato + Honey mustard
White bread + Chicken breast + Tomato + chili
White bread + Chicken breast + Cucumber + Mayonnaise
White bread + Chicken breast + Cucumber + Honey mustard
White bread + Chicken breast + Cucumber + chili

In [ ]:
print(list(range(0,5,1)))

[0, 1, 2, 3, 4]

In [ ]:
print(list(range(0,5,2)))

[0, 2, 4]

In [ ]:
print(list(range(2,5)))

[2, 3, 4]

In [ ]:
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]


07/11/2025
Loops :
1.for()
2.while()

In [ ]:
for i in range(10):
   print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (5):
  print('welcome to everyone!!')

welcome to everyone!!
welcome to everyone!!
welcome to everyone!!
welcome to everyone!!
welcome to everyone!!

In [ ]:
li=[1,2,3,4,5,6,7,8,9]
li1=[]
for i in  li :
  if i%2==0:
    li1.append(i)

print(li1)

[2, 4, 6, 8]

In [ ]:

for i in range(5) :
    for j in range(3):
      print(i)

0
0
0
1
1
1
2
2
2
3
3
3
4
4
4

In [ ]:
for i in range(5) :
    for j in range(3):
      print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [ ]:
for i in range (1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:

string= ('beautiful')
for i in range(8):
  if i in ('a', 'e', 'i', 'o', 'u'):
    print("It is a vowel.")
else:
    print("It is a consonant.")

It is a consonant.

In [ ]:
string = ('beautiful')
for char in string:  # Iterate directly over the characters in the string
  if char in ('a', 'e', 'i', 'o', 'u'):
    print(char)

e
a
u
i
u

In [ ]:
i=0
while i<5:
  print(i)

In [ ]:
s=0
for i in range (1,11):
  s+= i
  print('sum of number from 1 to 10:',s)

sum of number from 1 to 10: 1
sum of number from 1 to 10: 3
sum of number from 1 to 10: 6
sum of number from 1 to 10: 10
sum of number from 1 to 10: 15
sum of number from 1 to 10: 21
sum of number from 1 to 10: 28
sum of number from 1 to 10: 36
sum of number from 1 to 10: 45
sum of number from 1 to 10: 55

In [ ]:
num = 1
while True:
  if num%2==0:
    print("number is even")
  else:
    print("number is odd")
    num += 1
    break

number is odd

In [ ]:
n = int(input('enter a number to sum up to:'))
s = 0
i = 1
while i <= n:
  s = s + i
  i += 1
print('sum of 1 to {} is {}'.format(n,s))

enter a number to sum up to:56
sum of 1 to 56is 1596

In [ ]:
selected = None
while selected not in ['scissors','rock','paper']:
   selected = input('choose among scissors,rock,paper >')
   print('choose value',)

choose among scissors,rock,paper >rock
choose value rock

In [ ]:
n = int(input('enter a number to sum up to :'))
s = 0
for i in range(1, n+1):
  s = s + i
  print('sum of 1 to {} is {}'.format(n,s))

enter a number to sum up to :6
sum of 1 to 6 is 1
sum of 1 to 6 is 3
sum of 1 to 6 is 6
sum of 1 to 6 is 10
sum of 1 to 6 is 15
sum of 1 to 6 is 21

In [ ]:
import random as rd
print(rd.random())
print(rd.random())
print(rd.randrange (1,7))
print(rd.randrange (0,10,2))
print(rd.randint(1,10))

0.20201882239355984
0.37462447254542675
5
0
5

chapter 2 :- Sequence Data type in python

1.list and tuple
2.dictornary
3.sequence datatype
4.Two - dimentional list
5.Dictionary method 01 & 02
6.Set Datatypes

In [ ]:
person1 = ['David Doe',20 ,1 , 180.0 , 100.0]
person2 = ['John smith',25 ,1 , 170.0 , 70.0]
person3 = ['Jane carter',22 ,0 , 169.0 , 60.0]
person4 = ['Peter Kelly',40 ,1 , 150.0 , 50.0]

person_list = person1 + person2 + person3 + person4

n_persons = int (len(person_list) / 5)
age_sum = 0.0
for age in person_list[1::5]:
      age_sum += age
average_age = float(age_sum) / n_persons
print('the average age is ', str( average_age))

the average age is  26.75

In [ ]:
dict = {'name' : 'zinath', 'age' : '20','dic':'G'}
print(dict)
dict_keys = dict.keys()
print(dict_keys)
dict_values = dict.values()
print(dict_values)

{'name': 'zinath', 'age': '20', 'dic': 'G'}
dict_keys(['name', 'age', 'dic'])
dict_values(['zinath', '20', 'G'])

In [ ]:
fruits = ['banana', 'orange', 'apple','kiwi']
print(fruits)
mixed_list = [100,200,'apple',400]
print(mixed_list)

['banana', 'orange', 'apple', 'kiwi']
[100, 200, 'apple', 400]

In [ ]:
list4 = list(range(1, 10))
list4

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
n_list = [11,22,33,44,55,66]
print(n_list)
print(len(n_list))
n_list[0]
n_list[1]

[11, 22, 33, 44, 55, 66]
6

22

In [ ]:
p1 = ['David Doe', 20,1,180.0,100.0]
p2 = ['John smith', 25,1,170.0,70.0]

person_list = p1 +p2
print(person_list)

['David Doe', 20, 1, 180.0, 100.0, 'John smith', 25, 1, 170.0, 70.0]

In [ ]:
a_list = ['a','b','c','d','e']
a_list.append('f')
a_list

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
n_list = [10,20,30,40]
n_list.append(50)
n_list

[10, 20, 30, 40, 50]

In [ ]:
list1 = ['a','b','c']
list2 = [1,2,3]
list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1.extend('d')
list1

['a', 'b', 'c', 1, 2, 3, 'd']

In [ ]:
n_list = [11,22,33,44,55,66]
print(n_list)

del n_list[3]
print(n_list)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 55, 66]

In [ ]:
n_list = [10,20,30]
print(n_list)

[10, 20, 30]

In [ ]:
n = n_list.pop()
print(n)
print(n_list)

20
[10]

In [ ]:
a_list = [10,20,30,40,50,60,70,80]
a_list[1:5]

[20, 30, 40, 50]

In [ ]:
a_list[0:5]

[10, 20, 30, 40, 50]

In [ ]:
a_list[1:]

[20, 30, 40, 50, 60, 70, 80]

In [ ]:
a_list[1:8]

[20, 30, 40, 50, 60, 70, 80]

In [ ]:
a_list = [10,20,30,40]
10 in a_list

True

In [ ]:
50 in a_list

False

In [ ]:
10 not in a_list

False

In [ ]:
for n in a_list:
  print(n, end=' ')

10 20 30 40

In [ ]:
n_list = [11,22,33,44,55,66]
if (55 in n_list) :
  n_list.remove(55)
if(88 in n_list):
    n_list.remove(88)
print(n_list)

[11, 22, 33, 44, 66]

In [ ]:
#Tuple
slist = ['David', 178.9,'john',173.5,'jane',176.1]
print(slist)
slist.insert(4,"petter")
slist.insert(5, 168.1)
print(slist)

['David', 178.9, 'john', 173.5, 'jane', 176.1]
['David', 178.9, 'john', 173.5, 'petter', 168.1, 'jane', 176.1]

In [4]:
person = {'name': 'David Doe', 'Age': 26 , }
del person ['Age']

In [2]:
d1 = {'name ': 'David Doe', 'Age':26}
d2 = {'Age' : 26, 'Name' : 'David Doe'}
d1==d2

False

12-11-2025   File handle

1. Read and save data from file

r: Open for reading only. File must exist or raises FileNotFoundError.

w: Open for writing; truncates existing file or creates new one.

x: Open for exclusive creation; fails if file already exists immediately.

a: Open for appending; writes go to file end and create.

b: Binary mode for file operations; reading and writing use bytes.

t: Text mode (default); reads and writes expect strings, universal newline.

+: Updating mode; opens for reading and writing, doesn't truncate file.

wt : Open file in write text mode

os.remove : to remove a file

2. Dictionary Methods
keys() : Returmns all the keys in dictionary
items() : REturns the items preent in the dictionary
update() : update or append a new key : value pair in dictionary

In [ ]:
f = open('hello.txt','w')
f.write('hello world!')
f.close()

In [ ]:
f = open('hello.txt','w')

In [ ]:
f = open('hello.txt','wt')

In [ ]:
f = open('hello.txt','wb')

In [ ]:
f = open('hello.txt','r+t')

In [ ]:
f = open('hello.txt','a+t')

In [ ]:
f = open('hello.txt','a+t')

In [ ]:
f.write('Hello World!')

12

In [ ]:
f.write('Love of my life, you\'ve hurt me\n')
f.write('you\'ve broken my heart and now you leave me\n')
f.write('Love of my life,can\'t you see?\n')

31

In [ ]:
f = open('hello.txt','r')

In [ ]:
f = open('hello.txt','r')
s = f.readline()
print(s, end = '')
s = f.readline()
print(s, end = '')
f.close()

Hello Word!Love of my life, you've hurt me
you've broken my heart and now you leave me

13/11/2025
1. Dictionary Methods
pop() : Removes a specific key-value pair
popitem() : REmoves last key-value pair
clear() : Clear the entire dictionary
copy() : copies the entire dictionary the another dictioanry
key() : REturns all the keys from dictionary
values() : Returns all the values from dictionary
get(key) : returns the value at key
items() : Returns dictionary

2. Text Data
split() : Seperates the string and stores in list
strip() : Delete spaces before and after seperator character
lstrip() : Deletes spaces from left side
rstrip() : deletes spaces from right side
.join() : connecting strings
.replace() : Replaces the specified element
3. Dictionary Conversion
fromkeys(key, value) : Assign values to dictionary if keys are specified
defaultdict( datatypes ) : if a key is absent in, then it automatically defines it as 'int 0'

In [28]:
dic = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dic.pop('a')
dic

{'b': 2, 'c': 3, 'd': 4}

In [29]:

dic = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dic.values()

dict_values([1, 2, 3, 4])

In [30]:
dic = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dic.popitem()
dic

{'a': 1, 'b': 2, 'c': 3}

In [31]:
dic = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dic.clear()
dic

{}

In [32]:
dic = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dic1 = dic.copy()
dic1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [34]:

s = 'Welcome to Python'
s.split()

['Welcome', 'to', 'Python']

In [35]:
s = 'hello world'
s.split(', ')

['hello world']

In [36]:
s = 'Welcome to, Python, and SIC, SIC        '
s.split(', ')

['Welcome to', 'Python', 'and SIC', 'SIC        ']

In [37]:

s = 'Welcome to, Python, and SIC, SIC        '
s.split(', ')

['Welcome to', 'Python', 'and SIC', 'SIC        ']

In [38]:

s = 'Welcome to, Python, and SIC, SIC        '
[x.strip() for x in s.split(',')]

['Welcome to', 'Python', 'and SIC', 'SIC']

In [39]:

s = '    hello world    '
s.strip()

'hello world'

In [40]:
s.lstrip()

'hello world    '

In [41]:
s.rstrip()

'    hello world'

In [42]:
s = '######this is example#######'
s.strip('#')

'this is example'

In [43]:
s = '######this is example#######'
s.lstrip('#')

'this is example#######'

In [44]:

s = '######this is example#######'
s.rstrip('#')

'######this is example'

In [45]:
','.join(['apple', 'grape', 'banaana'])

'apple,grape,banaana'

In [46]:
'-'.join('010.1234.56789'.split('.'))

'010-1234-56789'

In [47]:

''.join(['apple', 'grape', 'banaana'])

'applegrapebanaana'

In [48]:
s = 'hello world'
clist = list(s)
clist

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [49]:

''.join(clist)

'hello world'

In [50]:
s= 'action \n\t speaks louder than words'
s

'action \n\t speaks louder than words'

In [51]:
print(s)

action
	 speaks louder than words

In [52]:
word_list = s.split()
word_list

['action', 'speaks', 'louder', 'than', 'words']

In [53]:
refined = ' '.join(word_list)
refined

'action speaks louder than words'

In [54]:

text = '123,456,789,999'
replaceAll = text.replace(',', '')
replaceAll

'123456789999'

In [55]:
replaceAll = text.replace(',', '', 1)
print(replaceAll)
replaceAll = text.replace(',', '', 2)
print(replaceAll)
replaceAll = text.replace(',', '', 3)
print(replaceAll)

123456,789,999
123456789,999
123456789999


3. Dictionary conversion

In [56]:
keys = ['a', 'b', 'c']      #list
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None}

In [57]:
y = dict.fromkeys(keys, 100)
y

{'a': 100, 'b': 100, 'c': 100}

In [58]:
from collections import defaultdict

keys = ('a', 'b', 'c', 'd')
y = dict.fromkeys(keys, 100)
y = defaultdict(int)

y['z']
# y

0

In [59]:
y

defaultdict(int, {'z': 0})

In [60]:
from collections import defaultdict

word = 'prathamesh'
counter = defaultdict(int)
for l in word :
    counter[l] +=1

counter

defaultdict(int,
            {'p': 1, 'r': 1, 'a': 2, 't': 1, 'h': 2, 'm': 1, 'e': 1, 's': 1})

In [61]:

x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}

for key in x.keys():
    print(key, end=' ')

a b c d

In [62]:
x = {'a' : 10, 'b' : 20, 'c' : 30, 'd' : 40}

for key in x.values():
    print(key, end=' ')

10 20 30 40

In [33]:

print(dic.items())

for str1, num in dic.items():
	print(str1, ":", num)

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])
a : 1
b : 2
c : 3
d : 4

In [ ]:
str1 = ['a','b','c','a','b','c']
dic = {}
for ch in str1:
  if ch not in dic.keys():
     dic[ch] = 0
  dic[ch] += 1
print('alphabet counting :',dic)

alphabet counting : {'a': 2, 'b': 2, 'c': 2}

In [ ]:
str1 = ['a','b','c','a','b','c']
dic = {}
for ch in str1:
    dic.setdefault(ch,0)
    dic[ch] += 1
    print(list(dic.items()))
print('alphabet counting :', dic)

[('a', 1)]
[('a', 1), ('b', 1)]
[('a', 1), ('b', 1), ('c', 1)]
[('a', 2), ('b', 1), ('c', 1)]
[('a', 2), ('b', 2), ('c', 1)]
[('a', 2), ('b', 2), ('c', 2)]
alphabet counting : {'a': 2, 'b': 2, 'c': 2}

In [ ]:
dic = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
dic.setdefault('f',50)
print(dic)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'f': 50}

In [ ]:
dic = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
dic['d'] = 50
print(dic)

{'a': 10, 'b': 20, 'c': 30, 'd': 50}

In [ ]:
dic = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
dic.update(d=50)
print(dic)

{'a': 10, 'b': 20, 'c': 30, 'd': 50}

In [ ]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key in x.keys():
  print(key, end='')

abcd

In [ ]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for values in x.values():
  print(values, end=' ')

10 20 30 40

11/11/25
JSON Data Dictionary / list Conversion
1. json

In [5]:
import json

data = '{"Name": "David", "Age": 25, "HObhy": ["basketball"],"family": {"Father": "John", "mother": "marry"}, "Married": true}'

json_data = json.loads(data)

json_data1 = json.dumps(json_data)

print(type(json_data))
print(json_data['Name'])


print(json_data1)
data

<class 'dict'>
David
{"Name": "David", "Age": 25, "HObhy": ["basketball"], "family": {"Father": "John", "mother": "marry"}, "Married": true}

'{"Name": "David", "Age": 25, "HObhy": ["basketball"],"family": {"Father": "John", "mother": "marry"}, "Married": true}'

In [8]:
data = '{"title": "the old man and the Sea", "ISBN": "12345", "Author": "Ernest Hemingway"}'

json_data = json.loads(data)
print(json_data)

with open('book.json', 'w') as f:
    json.dump(json_data, f)

{'title': 'the old man and the Sea', 'ISBN': '12345', 'Author': 'Ernest Hemingway'}

Dictionary

In [6]:
phone = {}
phone['brand'] = 'samsung'

phone

{'brand': 'samsung'}

In [7]:
phone.pop('brand')
phone

{}

In [9]:
list1 = [1, 2, 3, 4, 5]

print("befor pop(0)", list1)
print("before pop(1)", list1[1])
list1.pop(0)
print("after pop(0)", list1)
print("after pop(1)", list1[1])

befor pop(0) [1, 2, 3, 4, 5]
before pop(1) 2
after pop(0) [2, 3, 4, 5]
after pop(1) 3

In [10]:
dict1 = {0:11, 1:22, 2:33, 3:44, 4:55}

print("before pop(0): ", dict1.items())
print("before pop(1): ", dict1[1])
dict1.pop(0)
print("after pop(0): ", dict1.items())
print("after pop(1): ", dict1[1])

before pop(0):  dict_items([(0, 11), (1, 22), (2, 33), (3, 44), (4, 55)])
before pop(1):  22
after pop(0):  dict_items([(1, 22), (2, 33), (3, 44), (4, 55)])
after pop(1):  22

In [11]:

'{} python!'. format('Hello')

'Hello python!'

In [12]:

'I like {0} and {1}'. format('Python', 'Java')

'I like Python and Java'

In [13]:
'I like {1} and {0}'. format('Python', 'Java')

'I like Java and Python'

In [14]:
print('12345678901234567890')
print('{0:4d},{0:5d},{0:6d}'.format(123))

12345678901234567890
 123,  123,   123

In [15]:
'Precision of decimal places : {0:.2f}, Precision of three decimal places: {0:.3f}'.format(1/3)

'Precision of decimal places : 0.33, Precision of three decimal places: 0.333'

In [16]:
'real number for 19 spaces : {0:10.3f}, {0:10.4f}'.format(3.14159265359)

'real number for 19 spaces :      3.142,     3.1416'

In [17]:

for i in range(2,51,2):
    print('{0:3d} {1:5d} {2:7d}'.format(i, i*i,i*i*i))

  2     4       8
  4    16      64
  6    36     216
  8    64     512
 10   100    1000
 12   144    1728
 14   196    2744
 16   256    4096
 18   324    5832
 20   400    8000
 22   484   10648
 24   576   13824
 26   676   17576
 28   784   21952
 30   900   27000
 32  1024   32768
 34  1156   39304
 36  1296   46656
 38  1444   54872
 40  1600   64000
 42  1764   74088
 44  1936   85184
 46  2116   97336
 48  2304  110592
 50  2500  125000

In [18]:
# combine two ranges by converting them to lists first
list(range(10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [19]:

tuple(range(5)) + tuple(range(5,11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [20]:

list(range(10, 20)) * 0

[]

In [21]:
list

list

Tuple Methods

In [22]:
tup1 = (11,11,11,22,33,33)
print(tup1.count(11))

3

In [23]:
ran = range(1,5,2)
print(ran.count(2))
print(len(ran))

type(ran)

0
2

range

In [24]:
a = ('A', 'B', 'C')
b = ('A', 'B', 'C')

ord('c')

99

In [25]:
ord('C')

67

In [26]:
'c' > 'C'

True

In [27]:
ray = [1,2,3,4,5]
bArray = bytearray(ray)

bArray

bytearray(b'\x01\x02\x03\x04\x05')

14/11/2025
1. Multiple Dimensional Directory
2. Module
Its is a script file of python function, variable, or classes
date
time
math
sqrt: Return non-negative square root of x; raises on negative inputs.
sin: Return sine of x where x is measured in radians.
cos: Return cosine of x where x is measured in radians.
tan: Return tangent of x where x is measured in radians.
log: Return natural logarithm of x; base defaults to Euler's number.
log10: Return base-ten logarithm of x; x must be positive argument.
exp: Return e raised to the power of x (e**x) value.
floor: Return largest integer less than or equal to x value.
ceil: Return smallest integer greater than or equal to x value.
fabs: Return absolute value of x as a float type result.


14/11/2025
1. Multiple Dimensional Directory
2. Module
Its is a script file of python function, variable, or classes
date
time
math
sqrt: Return non-negative square root of x; raises on negative inputs.
sin: Return sine of x where x is measured in radians.
cos: Return cosine of x where x is measured in radians.
tan: Return tangent of x where x is measured in radians.
log: Return natural logarithm of x; base defaults to Euler's number.
log10: Return base-ten logarithm of x; x must be positive argument.
exp: Return e raised to the power of x (e**x) value.
floor: Return largest integer less than or equal to x value.
ceil: Return smallest integer greater than or equal to x value.
fabs: Return absolute value of x as a float type result.
3. set and operations
add
discard
clear
issubset
issuperset
isdisjoin

In [63]:
planet = {
    'Mercury':{
        'radius' : 234.8,
        'mass' : 123456
    },
    'Earth' : {
        'radius' : 45678.9,
        'mass' : 567890
    }
}

planet

print(planet['Mercury']['mass'])
print(planet['Earth']['radius'])

123456
45678.9

In [64]:

x = {'a' : 0, 'b' : 0, 'c' : 0, 'd' : 0}
y = x

print(x is y)

y = x.copy()	# Stores dictionary elements into new memory address
print(x is y)
print(x == y)

True
False
True

In [65]:
import copy

x = {'a' : {'python' : '2.7'},'b' : {'python' : '38'}}
y = copy.deepcopy(x)
print(x is y)

y['a']['python'] = '2.7.15'

print(f'og value : {x}')
print(f'Upadted value : {y}')

False
og value : {'a': {'python': '2.7'}, 'b': {'python': '38'}}
Upadted value : {'a': {'python': '2.7.15'}, 'b': {'python': '38'}}

2. Date Module

In [66]:
import datetime
today = datetime.datetime.today()
print(today)

print(datetime.date.today())
print(today.year)
print(today.month)
print(today.day)
print(today.hour)
print(today.minute)

2025-11-21 10:44:53.580741
2025-11-21
2025
11
21
10
44

In [67]:

start = datetime.datetime.now()
start.replace(month = 12, day = 25)

datetime.datetime(2025, 12, 25, 10, 45, 10, 812522)

In [68]:
import datetime as dt

start = dt.datetime.now()
start.replace(month = 12, day = 25)

datetime.datetime(2025, 12, 25, 10, 45, 14, 60582)

In [69]:

import time
second = time.time()
print("time aftre epoxy : ", second)

time aftre epoxy :  1763721922.7957106

In [70]:

unix = time.time()
local = time.localtime(unix)
local

time.struct_time(tm_year=2025, tm_mon=11, tm_mday=21, tm_hour=10, tm_min=45, tm_sec=29, tm_wday=4, tm_yday=325, tm_isdst=0)

3. Set

In [72]:
num = {1,2,3}
num.add(4)
num

{1, 2, 3, 4}

In [73]:
num.remove(2)
num

{1, 3, 4}

In [74]:

set([1,2,3,2,1,3])

{1, 2, 3}


Set Operations

union
Difference
  2.1 symmetric Difference

In [75]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 | s2		#union

{1, 2, 3, 4, 5, 6, 7, 8}

In [76]:

s1 & s2		# intersection
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [77]:
s1 - s2 	# difference
s1.difference(s2)

{1, 2, 3}

In [78]:
s1 ^ s2 	#symmetric diff

{1, 2, 3, 6, 7, 8}

In [79]:
num = {2,3,1}

for i in num :
    print(i)

1
2
3