<a href="https://colab.research.google.com/github/zish25/Python-codes-from-core/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#WHAT IS DATA? It is a collection of information it contain two types 1. structured 2.unstructured
#1.structured:- In this the data which we contain in row and coloums in table are structured
#2.unsreuctured :- In this we dosen't contain a fixed format which make it difficult to analyze or store data

#what is variable:- In this we store the data in element

a=23
print (a)
print(type(a))# type it is used to show the type of variable like int , float etc....
type(a)

23
<class 'int'>

int

In [12]:
###Data types:- int,float,string,list,tuple,dic,set
### int = 1,2,3 float = 2.44, 5.66
### string = string is a sequence of characters enclosed within single quotes ('), double quotes ("), triple single quotes ('''), or triple double quotes (""").
### in string there is one more thing Indexing in this there are two types 1 LHS (LEFT HAND SIDE) AND RHS (RIGHT HAND SIDE)

a = "Beautifull"
b = "welcome"
# You cannot change individual characters in a string like this:
# a[2] = a
# To demonstrate indexing, you can print the character at a specific position:
b[2]
print(b[-1])
print(a[2])

e
a

In [19]:
#slicing :- to cut the strings in substring
#formula     slicing = [start index(3)   end index(12-1)]

a1 = "pcuuniversity"
a1[3:]

# Advance Slicing  formula [start index    end index    step index(-1)]

b = "pcuuniversity"
b[3:]
b[0:12:3]

'puvs'

In [20]:
# length :- which calculate the length of string

len(a)

13

In [31]:
from re import U
## string method
### upper - to convert a whole string into uppercase letter
# lower - to convert a whole string into lowercase letter
## capitalize - capitalize the the sentence or word
## startswith - to check the string if the string start with first letter
## find - it will only take first letter and find it
### format - refered in print function


a = 'good'
a.upper()
print(a.upper()) # Call the upper method
a.capitalize()
a.startswith('g') # Call startswith as a method of 'a'

In [36]:
a = 'good'
a.startswith('g')

True

In [34]:
a = 'good'
a.capitalize()

'Good'

In [32]:
a = 'good'
a.upper()

'GOOD'

In [41]:
name = 'akash'
age = 34
print('My name is {} and I am {} years old'.format(name, age))

My name is akash and I am 34 years old

In [ ]:
##syntax error - which mistake which manually done
### runtime error - which occurs during execution of a program

In [42]:
## list :- it is a mutable methode it can be change and store the multiple type

li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [43]:
#addition of two no :- already input is given
a = 2
b = 42
c = a+b
print(c)

44

In [44]:
#addition of two no :- manually input is given
a = int(input('enter first no'))
b = int(input('enter second no'))
c = a+b
print(c)

enter first no3
enter second no4
7

In [45]:
## conditional statement 1. if- else  2. if-elif-else
### if condition will be true it will print the exicution other wise it will print else

a = 23
b = 45
if b>a:
  print('b is greater than a')
else:
  print('a is greater than b')

b is greater than a

In [46]:
## HW 5 programs related to coditional statement
## 1. Check if a number is positive, negative, or zero
num = int(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num == 0:
    print("The number is zero.")
else:
    print("The number is negative.")

Enter a number: 6
The number is positive.

In [ ]:
## 2. Check if a number is even or odd
num = int(input("Enter a number: ")) # Get input from the user and convert it to an integer
if num % 2 == 0: # Check if the number is divisible by 2 with no remainder
    print("The number is even.") # If the remainder is 0, the number is even
else: # Otherwise, the number is odd
    print("The number is odd.")

In [ ]:
### 3. Find the largest of three numbers

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print(a, "is the largest number.")
elif b >= a and b >= c:
    print(b, "is the largest number.")
else:
    print(c, "is the largest number.")

In [ ]:
### 4.Character classification (vowel or consonant)
ch = input("Enter a character: ")

if ch.lower() in ('a', 'e', 'i', 'o', 'u'):
    print("It is a vowel.")
else:
    print("It is a consonant.")

In [ ]:
### 5. Check if a person is eligible to vote
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

In [47]:
#### commenting ? its used to remind of giving detail about that line or that program that sentence
## single line comment :- ##  (green color) multiline comment - '''''' (orange color)
### types of operators
## 1. Arithmatic - +,-,*,/,//,%,**

a = 10
b = 3
print(a + b)   # 13
print(a ** b)  # 1000

13
1000

In [48]:
## relational operators :- used to compare two values and return a Boolean result (true or false).
## operators :- ==,!=,>,<,>=,<=
x = 10
y = 20
print(x > y)   # False
print(x != y)  # True

False
True

In [49]:
## Logical operators :- used to combine multiple conditions (and , or , not)
a = 10
b = 5
print(a > 0 and b > 0)  # True
print(a > 0 or b < 0)   # True
print(not (a > b))      # False

True
True
False

In [ ]:
#Boolean Operators :- Boolean represents a value that is either True or False.
x = 5
y = 10
result = (x < y)
print(result)        # True
print(type(result))  # <class 'bool'>

In [ ]:
#Sequential Statement :- A sequential statement means the normal flow of execution . statements are executed one after another, in order, from top to bottom.
# Sequential execution example

print("Step 1: Start the program")
a = 10
b = 20
c = a + b
print("Step 2: The sum is", c)
print("Step 3: Program ends")

In [ ]:
score = int(input('enter score:'))
if score >= 90:
      grade ='A'

elif score >=80:
      grade ='B'
elif score >=70:
        grade ='C'
elif score >=60:
         grade ='D'
else:
       grade ='F'
print ('your grade us :',grade)

enter score:78
your grade us : C

In [ ]:
num = int (input ('enter a number '))
if num%2==0:
  print ('number is even')
else:
  print ('number is odd')

enter a number 5
number is odd

In [ ]:
num= int(input('enter a no'))
if (num%3==0 and num%5==0):
  print('the no is multiple of 3 and 5')
else:
    print('not valid')

enter a no78
not valid

In [ ]:
## list method
# 1. append = to add the element at the end of list
# 2. extend = to combine the two element list in one
# 3. sort = to sort the list in accending and decending order of list
# 4. remove = remove the specific element from list
# 5. reverse = to reverse the list
# 6. pop  = to remove from list
# 7. clear = to clear the list
# 8. count = to count the element of list

In [ ]:
# find leap year
year = int (input('enter the year'))
is_leap_year = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
print(year,'is a leap?',is_leap_year)

In [ ]:
li = [1,2,3,4,5,6,7,8,9]
li1=[]

for i in li:
  if i%2==0:
    li1.append(i)

print(li1)

[2, 4, 6, 8]

In [ ]:
l1= [1,2,3,4,5,6,7,8,9]
li=[2,3]
li.extend(l1)
print(li)

[2, 3, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l1= [1,2,3,4,5,6,7,8,9]
li.sort()
print(li)

[1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l1= [1,2,3,4,5,6,7,8,9]
li.sort()
li.reverse()
print(li)

[9, 8, 7, 6, 5, 4, 3, 3, 2, 2, 1]

In [ ]:
l1=[1,2,3,4,5,6,7,8,9]
l1.pop()
print(l1)
l1.remove(3)
print(l1)
# print(l1.index(l1)) # This line caused the error
print(l1.index(4)) # Example of finding the index of an element (e.g., 4)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]
2

In [ ]:
my_id ="ilovepython"
password ="mypass1234"
string1 = input("enter Id:")
string2 = input("enter the password")
if string1 == my_id and string2 == password:
      print("welcome")
elif string1 !=my_id:
  print("Id not found.")
else:
  print("invalid password")

enter Id:ilovepython
enter the password12345
invalid password

In [ ]:
print('#'*50)
print("this is david's fruit shop.")
print('1: Apple(price: 5000won)')
print('2: Grape(price: 6000won)')
print('3: Melon(price: 8000won)')
print('4: Orange(price: 2000won)')
print('#'*50)
total_price =0
order = int(input("enter item number (between 1-4)>>"))
count = int(input("enter number of items(between 1-10)>>"))

if order == 1:
  fruit = 'Apple'
  price=5000

elif order == 2:
  fruit = 'Grape'
  price=6000
elif order == 3:
  fruit = 'Melone'
  price=8000
else:
  fruit = 'Orange'
  price=2000

print('fruit selected:',fruit)
print('price:',price)
print('Quantity:',count)
print('Total price is',price*count,'Won.')

money = int(input('Insert money please(ex:15000)>>>'))
if money < price * count:
  print('not enough money.')
else:
  change = money - price * count
  print(money, 'won received .your change is ',change,'won.')

##################################################
this is david's fruit shop.
1: Apple(price: 5000won)
2: Grape(price: 6000won)
3: Melon(price: 8000won)
4: Orange(price: 2000won)
##################################################
enter item number (between 1-4)>>3
enter number of items(between 1-10)>>5
fruit selected: Melone
price: 8000
Quantity: 5
Total price is 40000 Won.
Insert money please(ex:15000)>>>3000
not enough money.

In [ ]:
### creating calculator using if-elif- else

num = float(input('enter the first no:'))
num = float(input('enter the second no:'))

print ("selecte operation:")
print("1. Addition(sum)")
print("2. subtraction (sub)")
print("3. multiplication(mul)")
print("4. division(div)")

choice = input("enter choice(1/2/3/4):")
if choice =='sum':
  print("Result:", num1 + num2)
elif choice =='sub':
  print("Result:", num1-num2)
elif choice =='mul':
  print("Result:", num1*num2)
elif choice =='div':
  print("Result:", num1/num2)

else:
  print("invalid input")