<a href="https://colab.research.google.com/github/zish25/Python-codes-from-core/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#WHAT IS DATA? It is a collection of information it contain two types 1. structured 2.unstructured
#1.structured:- In this the data which we contain in row and coloums in table are structured
#2.unsreuctured :- In this we dosen't contain a fixed format which make it difficult to analyze or store data

#what is variable:- In this we store the data in element

a=23
print (a)
print(type(a))# type it is used to show the type of variable like int , float etc....
type(a)

23
<class 'int'>

int

In [12]:
###Data types:- int,float,string,list,tuple,dic,set
### int = 1,2,3 float = 2.44, 5.66
### string = string is a sequence of characters enclosed within single quotes ('), double quotes ("), triple single quotes ('''), or triple double quotes (""").
### in string there is one more thing Indexing in this there are two types 1 LHS (LEFT HAND SIDE) AND RHS (RIGHT HAND SIDE)

a = "Beautifull"
b = "welcome"
# You cannot change individual characters in a string like this:
# a[2] = a
# To demonstrate indexing, you can print the character at a specific position:
b[2]
print(b[-1])
print(a[2])

e
a

In [19]:
#slicing :- to cut the strings in substring
#formula     slicing = [start index(3)   end index(12-1)]

a1 = "pcuuniversity"
a1[3:]

# Advance Slicing  formula [start index    end index    step index(-1)]

b = "pcuuniversity"
b[3:]
b[0:12:3]

'puvs'

In [20]:
# length :- which calculate the length of string

len(a)

13

In [ ]:
score = int(input('enter score:'))
if score >= 90:
      grade ='A'

elif score >=80:
      grade ='B'
elif score >=70:
        grade ='C'
elif score >=60:
         grade ='D'
else:
       grade ='F'
print ('your grade us :',grade)

enter score:78
your grade us : C

In [ ]:
num = int (input ('enter a number '))
if num%2==0:
  print ('number is even')
else:
  print ('number is odd')

enter a number 5
number is odd

In [ ]:
num= int(input('enter a no'))
if (num%3==0 and num%5==0):
  print('the no is multiple of 3 and 5')
else:
    print('not valid')

enter a no78
not valid

In [ ]:
li = [1,2,3,4,5,6,7,8,9]
li1=[]

for i in li:
  if i%2==0:
    li1.append(i)

print(li1)

[2, 4, 6, 8]

In [ ]:
l1= [1,2,3,4,5,6,7,8,9]
li=[2,3]
li.extend(l1)
print(li)

[2, 3, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l1= [1,2,3,4,5,6,7,8,9]
li.sort()
print(li)

[1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l1= [1,2,3,4,5,6,7,8,9]
li.sort()
li.reverse()
print(li)

[9, 8, 7, 6, 5, 4, 3, 3, 2, 2, 1]

In [ ]:
l1=[1,2,3,4,5,6,7,8,9]
l1.pop()
print(l1)
l1.remove(3)
print(l1)
# print(l1.index(l1)) # This line caused the error
print(l1.index(4)) # Example of finding the index of an element (e.g., 4)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]
2

In [ ]:
my_id ="ilovepython"
password ="mypass1234"
string1 = input("enter Id:")
string2 = input("enter the password")
if string1 == my_id and string2 == password:
      print("welcome")
elif string1 !=my_id:
  print("Id not found.")
else:
  print("invalid password")

enter Id:ilovepython
enter the password12345
invalid password

In [ ]:
print('#'*50)
print("this is david's fruit shop.")
print('1: Apple(price: 5000won)')
print('2: Grape(price: 6000won)')
print('3: Melon(price: 8000won)')
print('4: Orange(price: 2000won)')
print('#'*50)
total_price =0
order = int(input("enter item number (between 1-4)>>"))
count = int(input("enter number of items(between 1-10)>>"))

if order == 1:
  fruit = 'Apple'
  price=5000

elif order == 2:
  fruit = 'Grape'
  price=6000
elif order == 3:
  fruit = 'Melone'
  price=8000
else:
  fruit = 'Orange'
  price=2000

print('fruit selected:',fruit)
print('price:',price)
print('Quantity:',count)
print('Total price is',price*count,'Won.')

money = int(input('Insert money please(ex:15000)>>>'))
if money < price * count:
  print('not enough money.')
else:
  change = money - price * count
  print(money, 'won received .your change is ',change,'won.')

##################################################
this is david's fruit shop.
1: Apple(price: 5000won)
2: Grape(price: 6000won)
3: Melon(price: 8000won)
4: Orange(price: 2000won)
##################################################
enter item number (between 1-4)>>3
enter number of items(between 1-10)>>5
fruit selected: Melone
price: 8000
Quantity: 5
Total price is 40000 Won.
Insert money please(ex:15000)>>>3000
not enough money.